.imageContainer {
  max-width: 150px;
}
.workCard {
  color: #2e2e2e;
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  max-width: 950px;
  box-shadow: rgba(0, 0, 0, 0.043) 0px 0px 5px 3px;
}
.workCard h3 {
  margin-top: 0;
}
.singleItem {
  max-width: 600px;
}
